/* Liberia para el tipo de letra
font-family: 'MedievalSharp', cursive;
*/
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
/*
    Todo Estilo Header
*/
body {
    background-color: #171717;
}
.contenedor_header {
    display: flex;
    align-items: center;
    background-color: #171717;
    padding: 20px;
    gap: 40px;
    flex-wrap: nowrap;
}

.logo {
   height: 150px;
   width: 150px;
   background: #18181b;
   border: solid 1px #27272a ;
   border-radius: 75px;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: all 0.8s ease;
   -webkit-transform: scale(1);
   transform: scale(1);
}
.logo:hover {
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
}
.logo img {
    width: 200px;
}
.items {
   height: 110px;
   width: 100%;
   background: #18181b;
   border: solid 1px #27272a;
   border-radius: 75px;
   display: flex;
   align-items: center;
   justify-content: space-around;
   flex-wrap: wrap;
}
.search_bar {
    width: 60%;
}
.search_bar input {
    width: 100%;
    height: 45px;
    border-style: none;
    border-radius: 15px;
    text-align: center ;
    font-size: 23px;
    font-family: 'MedievalSharp', cursive;
}
.buttons {
    display: flex;
    gap: 20px;
}
.buttons .btn_login {
    padding: 4px 9px 4px 9px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: 'MedievalSharp', cursive ;
    color: #ffff;
    background: #004ED5;
    border-radius: 20px;
    border-style: none;
    transition: all 0.5s ease;
}
.buttons .btn_register {
    padding: 4px 9px 4px 9px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: 'MedievalSharp', cursive ;
    color: #ffff;
    background: #07be01;
    border-radius: 20px;
    border-style: none;
    transition: all 0.5s ease;
}
.buttons button:hover {
    color: black;
    background: #ffff;
    border: #18181b;
}
/*
    Todo Fin Estilo Header
*/
/*
    Todo Estilo Main
*/
.contenedor_main {
    height: 800px;
    background-color: #171717;
    padding: 20px;
}
.main {
    height: 650px;
    width: 100%;
    padding: 20px;
    background: #181818;
    border: solid 1px #27272a ;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    overflow-y: auto;
    scrollbar-width: none;
}
.main .contenedor-card {
    width: 600px;
}
.main .card {
    height: 350px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    overflow-y: auto;
    scrollbar-width: none;
}
.main .card img {
    width: 270px;
    background: #171717;
}
.card .card-title {
    font-size: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
.card .card-text {
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif ; 
}
@media (max-width: 768px) {
    .main .card {
        height: 220px;
        width: 300px;
    }
}
/*
    Todo Fin Estilo Main
*/

/*
    Todo Estilo Footer
*/
.contenedor_footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #171717;
    padding: 20px;
    gap: 20px;
}
.contenedor_footer .logo {
    height: 110px;
    width: 110px;
    background: #18181b;
    border: solid 1px #27272a ;
    border-radius: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor_footer .logo img {
    width: 130px;
}
.contenedor_footer .title {
    height: 75px;
}
.contenedor_footer .title p {
    color: #ffff;
    font-size: 48px;
    font-family: 'MedievalSharp', cursive ;
}
.contenedor_footer .links {
    display: flex;
    gap: 20px;
    height: 38px;
}
.contenedor_footer .links a  {
    color: #ffff;
}
/*
    Todo Fin Estilo Footer
*/

/*
    Todo Estilo modal 
*/
.modal-header {
    background: #171717;
    border: solid 1px #171717;
    color: white;
}
.modal-header button  {
    background-color: #ff0000;
    color: black;
    border-radius: 20px;
}
.modal-body {
    color: black;
}

/* 
    Todo Estilo formulario login y register
*/
.btn_form {
    display: flex;
    justify-content: end;
}
.form .form-label, h5{
    font-family: 'MedievalSharp', cursive;
}
.btn_form button {
    padding: 5px 12px 5px 12px;
    border: #004ED5;
    border-style: none;
    border-radius: 15px;
    background-color: #004ED5;
    color: white;
    font-size: 18px;
    font-family: 'MedievalSharp', cursive;
}
.btn_form button:hover {
    color: black;
    background: #ffff;
    border: #004ED5;
    transition: all 0.5s ease;
}
/*
    Todo este media lo que hace es un wrap y ajusta los contenedor hijos al centro
    Todo cuando una es una pantalla pequeña
*/

.user {
    display: flex;
    align-items: center;
    gap: 10px;
}
.user_name {
    height:26px;
}
.user p {
    color: #ffff;
    font-size: 20px;
    font-family: 'MedievalSharp', cursive ;
}
.user img {
    width: 100px;
}
.textAdmin {
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif ;
}
.main2 {
    width: 100%;
    height: 750px;
    padding: 10px;
    background: #181818;
    border: solid 1px #27272a ;
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;

}
.contenedor_main .left {
    width: 60%;
    background: #18181b;
    border: solid 1px #27272a;
    border-radius: 30px;
    padding: 12px;
}
.contenedor_main .right {
    width: 38.2%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.contenedor_main .right .form {
    width: 100%;
    border: solid 1px #27272a;
    background: #18181b;
    padding: 10px;
    border-radius: 30px;
} 
.contenedor_main .right .form .img {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 10px;
}
.contenedor_main .right .form .img label {
    color: #ffff;
    font-size: 24px;
    font-family: 'MedievalSharp', cursive ;
}
.contenedor_main .right .form .img input {
    color: black;
    background: #ffff;
    border-style: none;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'MedievalSharp', cursive ;
}
.contenedor_main .right .form .title {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 10px;
}
.contenedor_main .right .form .title label {
    color: #ffff;
    font-size: 24px;
    font-family: 'MedievalSharp', cursive ;
}
.contenedor_main .right .form .title input {
    color: black;
    background: #ffff;
    border-style: none;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'MedievalSharp', cursive ;
}
.contenedor_main .right .form .description {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 10px;
}
.contenedor_main .right .form .description label {
    color: #ffff;
    font-size: 24px;
    font-family: 'MedievalSharp', cursive ;
}
.contenedor_main .right .form .description input {
    color: black;
    background: #ffff;
    border-style: none;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'MedievalSharp', cursive ;
}
.contenedor_main .right .form .button_upload {
    width: 100%;
    margin-top: 2px;
    padding: 10px;
}
.contenedor_main .right .form .button_upload button {
    width: 100%;
    color: #fff ;
    font-size: 19px;
    font-family: 'MedievalSharp', cursive  ;
    background: #004ED5;
    border-radius: 5px;
    border-style: none;
    padding: 5px;
    transition: all 0.5s ease;
}
.contenedor_main .right .form .button_upload button:hover {
    color: black;
    background: #fff;
    border: #18181b; 
}
.contenedor_main .right .form .button_delete {
    width: 100%;
    margin-top: 2px;
    padding: 10px;
}
.contenedor_main .right .form .button_delete button {
    width: 100%;
    color: #fff ;
    font-size: 19px;
    font-family: 'MedievalSharp', cursive  ;
    background: #FF0505 ;
    border-radius: 5px;
    border-style: none;
    padding: 5px;
    transition: all 0.5s ease;
}
.contenedor_main .right .form .button_delete button:hover {
    color: black;
    background: #fff;
    border: #18181b; 
} 

@media (max-width: 768px) {
    .contenedor_header {
      flex-wrap: wrap; 
      justify-content: center;
    }
    .contenedor_main .left,
    .contenedor_main .right {
        width: 100%;
    }
  }
